node_modules/
.next/
out/
.env.local
.env*.local
.env.production

# clerk configuration (can include secrets)
/.clerk/

# Sentry Config File
.env.sentry-build-plugin

# Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/Frameworks/
src-tauri/.tauri-signing-key.txt
dist-electron/
