node_modules/
.next/
out/
.env.local
.env*.local

# clerk configuration (can include secrets)
/.clerk/

# Sentry Config File
.env.sentry-build-plugin

# Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/Frameworks/
dist-electron/
